@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Slab:wght@300&display=swap");

/* sets a margin, padding and border for all of the page removing the default one */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Merriweather', serif, sans-serif;
    font-weight: 250%;
    background-color: #b3bac7;
}

/* Navbar styling */
header {
    height: 80px;
    width: auto;

}

#main-logo {
    float: right;
    margin-right: 40px;
    font-size: 300%;

}

.navbar {
    font-size: 130%;
    letter-spacing: 2px;

}

h1,
h2 {
    font-family: 'Roboto Slab', serif, sans-serif;
    color: #131619;
    letter-spacing: 2px;

}

.navbar li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 20px;

}

.navbar a {
    color: #131619;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 1px solid #131619;
}

.active {
    border-bottom: 2px solid #131619;
}

/* Hero image and cover text */
#image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#breath-image {
    height: 700px;
    width: 100%;
    background: url("../images/joshua-earle-9idqIGrLuTE-unsplash.jpg") no-repeat center center;
    /*Add the level of zoom when loading the image */
    animation-name: image-outer;
    animation-duration: 7s;
    animation-fill-mode: forwards;


}

/* adding animation for zoom affect for website*/
@keyframes image-outer {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Main body section */
h1 {
    text-align: center;
    margin-top: 20px;

}

#main-body {
    height: 1100px;
}

.wim-about {
    padding-top: 20px;
    width: 70%;
    float: left;
    padding-left: 20px;
    padding-bottom: 50px;
}

.james-about {
    padding-top: 20px;
    padding-right: 20px;
    width: 70%;
    float: right;
    text-align: left;
    padding-bottom: 50px;
}

.jay-about {
    padding-top: 20px;
    width: 70%;
    float: left;
    padding-left: 20px;

}

hr {
    width: 18%;
    border-top: 2px solid #131619;
}

.wim-image {
    width: 15%;
    height: 100px;
    padding: 10px;
    border-style: 1px solid;
    background: url("../images/wim.jpg") no-repeat center center;
}

.james-image {
    width: 15%;
    height: 100px;
    padding: 10px;
    border-style: 1px solid;
    background: url("../images/james.jpg");
}

.jay-image {
    width: 15%;
    height: 100px;
    padding: 10px;
    border-style: 1px solid;
    background: url("../images/jay.jpg") no-repeat center center;
}

.wim-about i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

.james-about i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

.jay-about i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

/* Footer */
footer {
    width: auto;
    height: 120px;

}

.social-media {
    text-align: center;
}

.social-media i {
    font-size: 200%;
    padding: 2%;
    margin: 2%;
    color: #131619;

}

.social-media>li {
    display: inline;
}

/* Contatc page*/
label {
    margin-left: 40px;
}
input[type=text] {
    width: 50%;
    padding: 10px;
    margin: 5px 0 18px 0;
    display: block;
    background-color: #fff;
    margin-left: 40px;

}

.contact-form {
    padding: 10px;
    position: relative;
    margin-left: 40px;

}

button {
    background-color: #131619;
    color: #fff;
    padding: 12px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
    margin-left: 40px;
  
}

button:hover {
    opacity: 1;
    background-color: #fff;
    color: #131619;
    margin-left: 40px;
}

textarea {
    width: 50%;
    height: 200px;
    padding: 10px;
    margin: 5px 0 18px 0;
    display: block;
    background-color: #fff;
    margin-left: 40px;
   
}
/* contact page image*/
#content-outer {
height: 700px;
width: 100%;
overflow: hidden;
position: relative;
}

#content-image {
height: 700px;
width: 100%;
background: url("../images/meditate.jpg") no-repeat center center;
/*Add the level of zoom when loading the image */
animation-name: content-outer;
animation-duration: 7s;
animation-fill-mode: forwards;


}

/* adding animation for zoom affect for website*/
@keyframes content-outer {
from {
    transform: scale(1);
}

to {
    transform: scale(1.1);
}
}
/* meditate page*/

/* meditate image*/
#meditate-page-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#meditate-image {
    height: 700px;
    width: 100%;
    background: url("../images/calm.jpg") no-repeat center center;
    /*Add the level of zoom when loading the image */
    animation-name: meditate-page-outer;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

/* adding animation for zoom affect for website*/
@keyframes meditate-page-outer {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#meditate-body {
    height: 800px;
}

.headspace {
    padding-top: 20px;
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

.calm {
    width: 80%;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
}

.wim-meditate {
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.buddhify {
    padding-bottom: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
}
.headspace-heading {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
}

.calm-heading {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
}

.wim-heading {
    padding-top: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.buddhify-heading {
    padding-top: 20px;
    width: 80%;
    text-align: center;
    margin: auto;
}

.headspace i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

.calm i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

.wim-meditate i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}

.buddhify i {
    font-size: 150%;
    padding: 0.5%;
    margin: 0.5%;
    color: #131619;
}
/* Media Queries*/

/* For screens larger screen sixes form 1200px wide and down*/
@media screen and (max-width:1200px) {
    #main-body{
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    hr{
        display: none;
    }
}